*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color:rgb(189, 189, 189);
    font-size: 20px;
    overflow-x : hidden ;

}

header{

    width: 95vw;
    padding: 1vw 3vw 1vw 2vw;
    height: 50px;
    background-color: rgba(0,0,0,0.75);
    color:rgb(255, 202, 88);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav{
    margin-top: 5px;
    list-style: none;

}


header li, a{

    text-decoration: none;
    color:rgb(255, 202, 88);
    margin-right: 2vw;
    display: inline
  
}

#demonstrações{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding: 50px;
    width: 100vw - 100px;
    background-color: rgb(250, 249, 249);
    padding-top: 80px;

}

.projeto{
    
    font-family: 'Helvetica';
    padding: 20px;
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
    width: 200px;
    height: 300px;
    padding: center;
    margin-bottom: 40px;

}

.projeto *{

    
    color:rgb(255, 255, 255);
    display: block;
    margin: auto;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}

.projeto button{

    border: 0;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    width: 80px;
    height: 40px;

}

.projeto h4{font-size: 20pt;}

footer{
    width: 80vw;
    height: 100px;
    background-color: rgb(145, 97, 26);
    padding: 0 10vw 0 10vw;
}

@media (max-width: 520px)
{
    body{
        font-size: 16px;
    }
    header{
        margin-right: 30px;
        text-align: center;  
        padding-right: 15px;
        overflow: auto;
    }

    .textoprincipal{
        padding: 24px 24px 24px 24px;

    }

    nav{

        float: none;
        padding: 0;
    }
}